body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
}

.The{
  color: grey;
  font-style: italic;
}

a{
 font-weight: bold;
 text-decoration: none;
}

img{
}